.header {
  width: 900px;
  height: 130px;
  background-color: aliceblue;
  padding: 30px 80px;
}

.title {
  font-size: 37px;
  margin-bottom: 25px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: bottom;
}

.input {
  height: 40px;
  width: 400px;
  max-width: 500px;
  margin: auto 0;
  border-radius: 40px;
  border: 1px solid;
  padding: 0 30px;
  font-size: 18px;
}

.register-btn {
  width: 160px;
  height: 40px;
  font-size: 18px;
  margin: auto 0;
  border-radius: 40px;
  border: 1px solid;
}
