@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Hi+Melody&family=IBM+Plex+Sans+KR&family=Poetsen+One&display=swap");

.list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.state-text {
  font-size: 30px;
  padding: 20px 50px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.item-container {
  padding: 30px 50px;
  display: flex;
  flex-direction: row;
}

.swiper {
  width: 100%;
  padding: 0 30px;
}

.swiper-slide {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.emptylist-text {
  display: block;
  font-size: 20px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}
